{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Футбол Маркет{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'firstproject/css/styles.css' %}">
</head>
<body>
    {% include 'firstproject/includes/header.html' %}

    <main class="page">
        {% include 'firstproject/includes/messages.html' %}
        {% block content %}{% endblock %}
    </main>

    {% include 'firstproject/includes/footer.html' %}
    <script src="{% static 'firstproject/js/main.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
